In [3]:
import pandas 

df_btc = pandas.read_excel('BTC.xlsx')

df_btc

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 13, 2020",9277.20,9306.40,9224.29,9243.61,17519821266,170379677119
1,"Jul 12, 2020",9241.06,9319.42,9197.45,9276.50,14452361907,170977422928
2,"Jul 11, 2020",9277.51,9293.53,9199.49,9240.35,13249910444,170302234778
3,"Jul 10, 2020",9273.36,9287.47,9118.00,9278.81,16860035605,171001933827
4,"Jul 09, 2020",9427.99,9431.38,9235.00,9277.97,18000702524,170977231638
...,...,...,...,...,...,...,...
190,"Jan 05, 2020",7410.45,7544.50,7400.54,7411.32,19725074095,134469548249
191,"Jan 04, 2020",7345.38,7427.39,7309.51,7410.66,18444271275,134442464030
192,"Jan 03, 2020",6984.43,7413.72,6915.00,7344.88,28111481032,133233444755
193,"Jan 02, 2020",7202.55,7212.16,6935.27,6985.47,20802083465,126699395235
194,"Jan 01, 2020",7194.89,7254.33,7174.94,7200.17,18565664997,130580829150

In [6]:
df_covid = pandas.read_csv('dataset_covid.csv')
df_covid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/07/2020,14,7,2020,4,2,Afghanistan,AF,AFG,38041757.0,Asia,8.456497
1,13/07/2020,13,7,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,9.158357
2,12/07/2020,12,7,2020,85,16,Afghanistan,AF,AFG,38041757.0,Asia,10.081028
3,11/07/2020,11,7,2020,458,37,Afghanistan,AF,AFG,38041757.0,Asia,10.291323
4,10/07/2020,10,7,2020,255,20,Afghanistan,AF,AFG,38041757.0,Asia,9.812901
...,...,...,...,...,...,...,...,...,...,...,...,...
29708,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
29709,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
29710,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
29711,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
29712,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN