# Proyecto de Mineria de Datos #
## CodelCOVID-19##
### Analisis exploratorio de datos###

En este documento se realizara el analisis exploratorio de datos de dos tipos de dataset:
* Dataset de el valor de criptomoneda por fecha
* Dataset de cantidad de contagiados por dia de diferentes paises del mundo ordenados alfabeticamente

In [12]:
import pandas
df= pandas.read_csv("dataset_btc.csv")
df

           Date     Open     High     Low     Close      Volume     Market Cap
0    2020-07-13  9277.20  9306.40  9224.29  9243.61  17519821266  170379677119
1    2020-07-12  9241.06  9319.42  9197.45  9276.50  14452361907  170977422928
2    2020-07-11  9277.51  9293.53  9199.49  9240.35  13249910444  170302234778
3    2020-07-10  9273.36  9287.47  9118.00  9278.81  16860035605  171001933827
4    2020-07-09  9427.99  9431.38  9235.00  9277.97  18000702524  170977231638
..          ...      ...      ...      ...      ...          ...           ...
190  2020-01-05  7410.45  7544.50  7400.54  7411.32  19725074095  134469548249
191  2020-01-04  7345.38  7427.39  7309.51  7410.66  18444271275  134442464030
192  2020-01-03  6984.43  7413.72  6915.00  7344.88  28111481032  133233444755
193  2020-01-02  7202.55  7212.16  6935.27  6985.47  20802083465  126699395235
194  2020-01-01  7194.89  7254.33  7174.94  7200.17  18565664997  130580829150

[195 rows x 7 columns]

In [14]:
df2=pd.read_csv("dataset_eth.csv")
df2.head()

         Date    Open    High    Low    Close     Volume    Market Cap
0  2020-07-14  239.98  242.00  237.80  240.21  7357458555  26846147251
1  2020-07-13  242.18  244.31  238.23  239.60  7787751468  26775071858
2  2020-07-12  239.46  243.31  237.77  242.13  6596394718  27054158346
3  2020-07-11  241.04  241.53  238.33  239.46  5643067316  26752161985
4  2020-07-10  242.87  242.88  236.73  240.98  7281370522  26919422187

In [8]:
data_covid=pd.read_csv("dataset_covid19.csv")
data_covid.head(10)

,Date,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-07-14,4,2,Afghanistan,AF,AFG,38041757.0,Asia,8.456497
1,2020-07-13,0,0,Afghanistan,AF,AFG,38041757.0,Asia,9.158357
2,2020-12-07,85,16,Afghanistan,AF,AFG,38041757.0,Asia,10.081028
3,2020-11-07,458,37,Afghanistan,AF,AFG,38041757.0,Asia,10.291323
4,2020-10-07,255,20,Afghanistan,AF,AFG,38041757.0,Asia,9.812901
5,2020-09-07,59,1,Afghanistan,AF,AFG,38041757.0,Asia,10.351783
6,2020-08-07,210,16,Afghanistan,AF,AFG,38041757.0,Asia,10.811803
7,2020-07-07,433,56,Afghanistan,AF,AFG,38041757.0,Asia,11.148276
8,2020-06-07,279,38,Afghanistan,AF,AFG,38041757.0,Asia,10.824947
9,2020-05-07,348,7,Afghanistan,AF,AFG,38041757.0,Asia,11.166677